@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:600,600i," rel="stylesheet');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

	/*font-family: 'Playfair Display', serif;*/
	/*font-family: 'Abril Fatface', cursive;*/
	/*font-family: "Open Sans", sans-serif;*/
	/*font-family: 'Crimson Text', serif;*/
	/*font-family: 'Noto Sans KR', sans-serif;*/




/* reset */
	html,body {margin:0; padding:0; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; font-weight:normal; font-size:12px; height:100%; color:#333; -webkit-text-size-adjust:none; position:relative; line-height:1.2;}
	dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
	th,td,input,textarea,select {font-size:12px; color:#333; font-family:"나눔고딕","Nanum Gothic","Helvetica Neue",Arial,sans-serif; -webkit-text-size-adjust:none;}
	th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
	table {border-spacing:0; border-collapse:collapse; -webkit-text-size-adjust:none; border:0; table-layout:fixed;}
	address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; -webkit-text-size-adjust:none;}
	em {font-style:normal; -webkit-text-size-adjust:none;}
	ol,ul,li {list-style:none;}
	h1,h2,h3,h4,h5,h6 {font-size:100%;}
	abbr,acronym {border:0;}
	hr,legend,caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0;}
	img,fieldset {border:0 none;}
	label {cursor:pointer;}
	a {color:inherit;}
	a:link, a:visited, a:hover {color:inherit; text-decoration:none;}
	a:active {text-decoration:none;}
	input,img {vertical-align:middle;}

/*layout*/

#header_container {
		position: fixed;
		z-index: 3000;
		left: 0; top: 0; width: 100%; height: 80px;
		background-color: #f7931e;
		/*초록색*/
	}
	#header_container::selection {background-color:#1f7fc3;; color:#nnnnnn;}
	#header_container .header_inner{
		width: 1280px; height: 100%;
		position: relative;
		margin: 0 auto;
	}

	#header_container .logo {
		position: absolute;
		left: 0px; top: 50%; margin-top: -21px;
		font-family: "Open Sans", sans-serif;
		color: #ffffff;
		font-size: 30px;
	}

	#header_container .logo:hover {
		color: #5f5f5f;
	}


	#header_container .gnb_wrap{
		position: absolute;
		right: 10px; top: 50%; margin-top: -18px;
	}
	#header_container li {
		float: left; margin-left: 40px;
	}

	#header_container li a {
		display: block; height: 36px; line-height: 36px;
		color: #fff; font-size: 14px;
		font-family: "Open Sans", sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		position: relative; /*이거를 해줘야 보더요소의 상대적인 값이 설정된다.*/
	}

	#header_container li a::after {
		content: "";
		position: absolute; /*띄어주는거*/
		left: 0; /*보더 위치 가장 왼쪽기준*/
		width: 100%; /*메뉴 보더가 꽉 채우게*/
		top: 100%; /*가장 밑에 생길 수 있게*/
		height: 2px; /*2px 밑으로 생길수 있게*/
		background-color: #fff; /*마우스 오버 안했을 때 컬러*/
		transition: all 0.5s; /*보더 애니메이션*/
		transform: scale(0,1); /*가로로 없었다가*/
	}

	/*메뉴 밑의 보더 요소*/

	#header_container li a:hover {
		color:#5f5f5f;
		/*노란색*/
	}

	#header_container li a:hover::after {
		transform: scale(1,1); /*가로로 없었다가 생김*/
		background-color: #5f5f5f;  /*마우스 오버 했을 때 컬러*/
	}



	/*intro*/
	.intro_section{
		height: 800px;  padding-top: 80px;
		box-sizing: border-box;
		min-width: 1280px;
		position: relative;
		padding-right: 450px;

	}

	.intro_section .intro_inner{
		background: url(./img/bg.gif) 0 0 no-repeat;
		height: 100%;
		background-size: 1470px 800px;
		background-attachment: fixed; /*백그라운드 고정*/
		text-align: center;

	}

	.intro_section .intro_inner::before{
		content: "";
		position:absolute ;
		left: 0; right: 0; top: 0; bottom: 0;
		background-color: rgba(0,0,0,0.4);
	}



	.intro_section .intro_inner::after {
		content: "";
		display: inline-block; vertical-align: middle;
		height: 100%; /*상하중앙정렬*/

	}
	.intro_section .intro_inner .content {
		/*display: inline-block;*/ vertical-align: middle;
		color: #fff;
		position: absolute;
		left: 0; bottom:100px;
		padding-left: 100px;
		transition: all 0.3s;
	}

	.intro_section .intro_inner .content:hover {
		transform: scale(1.1);
	}

	.intro_section .intro_inner .content h2{
		font-size: 120px;
		font-family: "Open Sans", sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		text-align: left;
		color: #ffffff;
		position: relative;
		/*인트로 섹션 타이틀 색*/

	}



	.intro_section .intro_inner .content p{
		font-size: 50px; font-style: italic;
		font-family: "Open Sans", sans-serif;
		font-weight: 600; line-height: 1.5;
		text-transform: uppercase;
		color: #d2d2d2;
		/*인트로 섹션 서브타이틀 색*/
	}



	.ud {border:solid #fff; border-width: 1px 0 0;}





	.intro_section .content_wrap {
	 	box-sizing: border-box;
	 	width: 450px;
	 	position: absolute;
	 	text-align: right;
	 	top:0; right: 0;
	 	background-color:#f5f5f5;
	 	height: 100%
	 	padding-top: 80px;
	 	bottom: 0;

	 }

	.intro_section .content_wrap .profile {
		width: 140px; height: 140px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin:150px auto 20px;

	 }


	.intro_section .content_wrap .profile img {
	 	width: 100%;
	 	height: 100%;
	 	transition: all 0.3s;

	 }

	 .intro_section .content_wrap .profile:hover img {
	 	transform: scale(1.1);
	 }



	 .intro_section .content_wrap .contBox::after {
		content: "";
	 	position: absolute;
	 	bottom:470px;
	 	left: 182px;
	 	display: inline-block;
	 	width: 90px;
	 	height: 2px;
	 	background-color: #5f5f5f;
	}

	.intro_section .content_wrap .contBox {
		text-align: center;
		font-family: "Open Sans", sans-serif;
		margin-top: 75px;
	}

	.intro_section .content_wrap .contBox .name {
	 	font-family: "Open Sans", sans-serif;
	 	font-weight: 700;
	 	margin-top: 10px;
	 	font-size: 30px;
	 	position: relative;
	 	color: #fff;
	 	margin: 20px 0;
	 	color: #1e80c4;
	}


	.intro_section .content_wrap .contBox .job {
	 	font-size: 16px;
	 	position: relative;
	 	color: #5f5f5f;
	 	font-weight: 600;
	 	margin-top:20px;
	 }

	 .intro_section .content_wrap .contBox .birthday {
	 	position: relative;
	 	color: #5f5f5f;
	 	font-weight: 600;
	 	margin-top:20px;
	 	display: block;
	 	font-size: 14px;
	 }

	 .intro_section .content_wrap .contBox .phonenumber {
	 	position: relative;
	 	margin-top: 10px;
	 	font-weight: 600;
	 	color:#5f5f5f;
	 	font-size: 14px;
	 }

	 .intro_section .content_wrap .contBox .email {
	 	position: relative;
	 	margin-top: 10px;
	 	font-weight: 600;
	 	color:#5f5f5f;
	 	font-size: 14px;
	 }

	 	 .intro_section .content_wrap .contBox .shcool {
	 	position: relative;
	 	color: #5f5f5f;
	 	font-weight: 600;
	 	margin-top:20px;
	 	display: block;
	 	font-size: 14px;
	 }


	.intro_section .content_wrap .contBox .sns {
		font-size: 0;
		margin-top: 25px;
	}
	.intro_section .content_wrap .contBox .sns li {
	 	text-align: center;
	 	margin-top: 10px;
	 	position: relative;
	 	display: inline-block;
	 	vertical-align: middle;
		margin-left: 20px;
	 }

	 .intro_section .content_wrap .contBox .sns li:first-child {
	 	margin-left: 0;
	 }

	 .intro_section .content_wrap .contBox .sns li a {
	 	display: block;
	 	background-color: rgba(255,255,255,0.3);
		border-radius: 50%;
	 }

	 .intro_section .content_wrap .contBox .sns li a:hover {
	 	background-color: #ed1c24;
	 }

	 .intro_section .resume {
	 	margin-top: 40px;
	 	text-align: center;
	 }
 	 .intro_section .resume a {
  		background-color: #ed1c24;
 		border: none;
  		color: white;
  		padding: 8px 20px;
  		cursor: pointer;
  		font-size: 15px;
  		font-family: "Open Sans", sans-serif;
  		font-weight: 900;
  		text-shadow: 0 0 7px #ffffff;
}

	.intro_section .resume a:hover {
		color: #ed1c24;
  		background-color: #fff;
  	}

  	  	.intro_section .school {
	 	margin-top: 32px;
	 	text-align: center;
	 }
 	 .intro_section .school a {
  		background-color: #ed1c24;
 		border: none;
  		color: white;
  		padding: 8px 20px;
  		cursor: pointer;
  		font-size: 15px;
  		font-family: "Open Sans", sans-serif;
  		font-weight: 900;
/*  		text-shadow: 0 0 7px #ffffff;*/
}

	.intro_section .school a:hover {
		color: #ed1c24;
  		background-color: #fff;
  	}

/*section(공통)*/
	.section {
		min-width: 1280px;
		box-sizing: border-box;
		padding: 100px 0;
	}

	.section .title {
		font-size: 40px;
		text-align: center;
		font-family: "Open Sans", sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #1f7fc3;
		/*각 섹션의 타이틀 색*/
	}
	.section .subtext {
		text-align: center;
		font-size: 16px;
		color: #5f5f5f;
		/*각 섹션의 서브타이틀 색*/
		font-style: italic;
		font-family: "Open Sans", sans-serif;
		margin-top: 5px;
		font-weight: 900;
		font-style: italic;
		text-transform: uppercase;
	}
	#about_section {
		background-color: #ffffff;
		background-size: 100% 100%;
	}

	#about_section em {
		color: #000;
	}
	#about_section .mytext {
		font-family: "Open Sans", sans-serif;
		font-size:70px;
		font-weight: 900;
		margin-top: 10px;
		color: #464646;
		/*about 섹션 타이틀 색*/
		text-align: center;
		transition: all 0.3s;
	}

	#about_section .mytext:hover {
		transform: scale(1.1);
		color: #717171;
		/*about 섹션 설명 색*/

	}

	#about_section .mytextdesc {
		font-family: "Open Sans", sans-serif;
		font-size:14px;
		font-weight: 700;
		width: 700px;
		text-align: center;
		word-break: break-all;
		margin: 20px auto 0;
		color: #4f4f4f;
		line-height: 1.5;
		letter-spacing: -60;

	}

	#about_section .mytextdesc em:hover {
		color: #1f7fc3;
		/*마우스 오버했을 때 색*/
	}

 	#skill_section li {
 		text-align: center;
 	}
	#skill_section li:first-child {
		margin-top: 50px;
	}
	#skill_section li img {
		width: 150px; height: 150px;
		transition: all 0.3s;
	}

	#skill_section li img::after {
		content: "";
	 	position: absolute;
	 	bottom:0px;
	 	left: 0px;
	 	width: 90px;
	 	height: 2px;
	}

	#skill_section li:hover img {
		transform: scale(1.1);
	}

* {box-sizing:border-box}

	#skill_section .container {
    width: 50%;
    background-color: #ddd;
    display: inline-block;
    margin-left: -20px;

}

	#skill_section .skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;

}

	#skill_section .ps {width: 90%; background-color: #001e38; color: #05a7ff;} 
	#skill_section .ai {width: 90%; background-color: #380000; color: #ff9500;}  
	#skill_section .id {width: 80%; background-color: #50001f; color: #ff0062;}  
	#skill_section .ae {width: 50%; background-color: #05005f; color: #9b94ff;} 
	#skill_section .PM {width: 50%; background-color: #05005f; color: #9b94ff;} 
	#skill_section .max {width: 40%; background-color: #d3eaec; color: #00b1af;} 
	#skill_section .coding {width: 30%; background-color: #00ace7; color: #ffffff;} 
	

	}



	* {box-sizing: border-box;}


	/*work_section*/
	#work_section{
		background-color: #f8f8f8;
		margin-top: 120px;
	 }

	#work_section .content_wrap {
	 font-family: 'Noto Sans KR', sans-serif;

	 }

	#work_section .content_wrap ul{
		width: 100%; /* !!여기 수정@360x3+40+40=1160px ( 이 말은 즉슨 1120 px 안에 3개 이상이 들어가봤자 자리가 없어서 밑으로 떨어짐 )*/
		margin: 0 auto;
		overflow: hidden;

	 }
	#work_section .content_wrap .item{
	 	 	width: 360px; height: 490px;
	 	 	background-color: white;
	 	 	float: left; /*왼쪽 정렬*/
	 	 	margin: 40px 0 0 40px;
	 	 	border: 1px solid #d3d3d3;
	 	 	box-sizing: border-box;


	 }

	#work_section .content_wrap .item:hover .thumbBox .type {
	 	 opacity: 1; /*0에서 1로 바뀜*/
	 }


	#work_section .content_wrap .item:hover .thumbBox .type::before,
	#work_section .content_wrap .item:hover .thumbBox .type::after {
	 	 transform: scale(1);
	}
	 	 /*마우스 오버했을 때 공통사항 설정*/

	#work_section .content_wrap .item:hover .thumbBox img {
	 	 transform: scale(1.1);
	 }
	#work_section .content_wrap .item:nth-child(3n+1) {
	 	 margin-left: 0;
	 }
	 	 /*li가 3n+1일 상태에서만 margin-left를 0으로 주는것*/

	#work_section .content_wrap .item .thumbBox {
	 	 height: 358px; /*보더값 빼준거*/
	 	 overflow: hidden;
	 	 position: relative; /*.type의 상대값 주기*/


	 }

	#work_section .content_wrap .item .thumbBox img {
	 	 width: 100%; height: 100%;
	 	 transition: all 0.3s;

	 	 }

	 	 /*부모사이즈에 맞게 들어감*/

	#work_section .content_wrap .item .thumbBox .type {
	 	 opacity: 0; /*원래 값 0임*/
	 	 position: absolute; /*띄어주기*/
	 	 left: 0; right: 0; top: 0; bottom: 0; /*전체 꽉 채워줌 */
	 	 background-color: rgba(91,183,203,0.8);
	 	/* 마우스 오버했을 때 전체 박스 색*/
	 	 color: #fff;
	 	 line-height: 358px; /*상하정렬*/
	 	 text-align: center; /*가운데 정렬*/
	 	 text-transform: uppercase; /*대문자로 */
	 	 font-size: 26px;
	 	 font-family: "Open Sans", sans-serif;
	 	 font-weight: 700;
	 	 transition: all 0.5s; /*서서히 바뀌는거*/

	 	 }

	#work_section .content_wrap .item .thumbBox .type::before,
	#work_section .content_wrap .item .thumbBox .type::after {
	 	 content: "";
	 	 position: absolute;
	 	 left: 5px; right: 5px; top: 5px; bottom: 5px; /*박스와 보더 사이의 여백*/
	 	 transition: all 1s /*모든 값은 1초동안 바뀐다.*/
	 	 }

	 	 /*콤마(,)는 그룹핑해주는 것이다. 공통사항에 속성줄 때 사용*/

	#work_section .content_wrap .item .thumbBox .type::before {
	 	 border-top: 1px solid #fff;
	 	 border-bottom: 1px solid #fff;
	 	 transform: scale(0,1); /*보더 가로로 애니메이션 선 생기기 전*/
	 	 }
	 	 /*세로 보더 설정*/
	#work_section .content_wrap .item .thumbBox .type::after {
	 	 border-left: 1px solid #fff;
	 	 border-right: 1px solid #fff;
	 	 transform: scale(1,0); /*보더 세로로 애니메이션 선 생기기 전*/
	 	 }

	 	 /*가로 보더 설정*/

	 	 /*개별속성 적용*/


	#work_section .content_wrap .item .contBox {
	 	 padding: 15px 15px 0; /*상좌우는 15px bottom값은 0px*/
	 	 }

	#work_section .content_wrap .item .contBox .tit {
	 	 font-size: 18px;
	 	 color: #5f5f5f;

	 	 }

	 	 /*작업목록 타이틀 색*/

	#work_section .content_wrap .item .contBox .type {
	 	 color:#1f7fc3;
	 	/* 날짜*/
	 	 margin-top: 8px;
	 	 display: block; /*type을 block으로 바꿔줘야 margin-top이 먹는다. */
	 	 text-transform: uppercase; /*대문자로 바꿔주기*/
	 	 font-family: "Open Sans", sans-serif;
	 	 font-weight: 700;

	 	 }

	

	#work_section .content_wrap .item .contBox .desc {
	 	 color: #999;
	 	 line-height:16px; height:48px; /*16x3=48*/
	 	 margin-top: 10px;
	 	 overflow: hidden; /*넘어가는 애들 자르기*/
		 text-overflow:ellipsis;
		-webkit-line-clamp:3; /* 셋째줄에서 ... 표시 */
		-webkit-box-orient: vertical;
		display: -webkit-box;
		word-wrap:break-word;
		-o-text-overflow:ellipsis;
		/*388-393번째 줄은 텍스트가 해당 줄 이상 흘러넘칠시에 줄여주는 코드이다. */
	 	 }

	 	 /*작업목록 세부설명*/


	 	/*s : footer*/
	 #footer_container .cp {
	 	color: #fff;
	 	font-size: 16px;
	 	width : 100%;
	 	height : 100px;
	 	letter-spacing: -1px;
	 	background-color: #f7931e;
	 	/*푸터 배경 색*/
	 	font-family: "Open Sans", sans-serif;
	 	font-weight: 600;
	 	text-align: center;
	 	line-height: 100px;
	 	margin-bottom: -1000px;

	 }

	 #footer_container em {
	 	font-family: "Open Sans", sans-serif;
	 	font-weight: 900;
	 }


/* s : popup*/

	/*#work_section .go {
	display: block;
	  color: #000;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	}

	.overlay {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.7);
	  transition: opacity 500ms;
	  visibility: hidden;
	  opacity: 0;
	  z-index: 9999;
	}
	.overlay:target {
	  visibility: visible;
	  opacity: 1;
	}

	.popup {
	  margin: 100px auto;
	  padding: 20px;
	  background: #fff;
	  border-radius: 5px;
	  width: 70%;
	  position: relative;
	  transition: all 5s ease-in-out;
	}

	.popup h2 {
	  margin-top: 0;
	  color: #333;
	  font-family: 'Noto Sans KR', sans-serif;
	  text-align: center;
	}
	.popup .close {
	  position: absolute;
	  top: 20px;
	  right: 30px;
	  transition: all 200ms;
	  font-size: 30px;
	  font-weight: bold;
	  text-decoration: none;
	  color: #38682c;
	}
	.popup .close:hover {
	  color: #f4b942;
	}
	.popup .content {
	  max-height: 30%;
	  overflow: auto;
	  margin-top: 20px;
	  text-align: center;
	}




	/*s : nav-bar*/

	body{
	  margin:0;
	  text-align:center;
	  font-family: Verdana;
	  background:#f5f5f5;
	}
	h1 {
	  text-align:center;
	}
	.container {
	  width:90%;
	  margin:0 auto;
	}
	input[type="radio"] {
	    display:none;

	}
	label {
	  width:12.5%;
	  float:left;
	  background:#ffffff;
	  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	  color:#222222;
	  padding:1%;
	  margin-bottom:10px;
	  cursor:pointer;

	}
	input[type="radio"][id="blue"]:checked + label {
	  background:#e2e2e2;
	}
	input[type="radio"][id="blue"]:checked ~ .red
	, input[type="radio"][id="blue"]:checked ~ .green
	, input[type="radio"][id="blue"]:checked ~ .one
	, input[type="radio"][id="blue"]:checked ~ .two
	, input[type="radio"][id="blue"]:checked ~ .three
	, input[type="radio"][id="blue"]:checked ~ .four{
	  width:0;
	  height:0;
	  padding:0;
	  margin:0;
	  opacity:0;
	}
	input[type="radio"][id="red"]:checked + label {
	  background:#e2e2e2;
	}
	input[type="radio"][id="red"]:checked ~ .blue
	, input[type="radio"][id="red"]:checked ~ .green
	, input[type="radio"][id="red"]:checked ~ .one
	, input[type="radio"][id="red"]:checked ~ .two
	, input[type="radio"][id="red"]:checked ~ .three
	, input[type="radio"][id="red"]:checked ~ .four{
	  width:0;
	  height:0;
	  padding:0;
	  margin:0;
	  opacity:0;
	}
	input[type="radio"][id="green"]:checked + label {
	  background:#e2e2e2;
	}
	input[type="radio"][id="green"]:checked ~ .blue
	, input[type="radio"][id="green"]:checked ~ .red
	, input[type="radio"][id="green"]:checked ~ .one
	, input[type="radio"][id="green"]:checked ~ .two
	, input[type="radio"][id="green"]:checked ~ .three
	, input[type="radio"][id="green"]:checked ~ .four{
	  width:0;
	  height:0;
	  padding:0;
	  margin:0;
	  opacity:0;
	}
	input[type="radio"][id="one"]:checked + label {
		background:#e2e2e2;
	}
	input[type="radio"][id="one"]:checked ~ .blue
	, input[type="radio"][id="one"]:checked ~ .red
	, input[type="radio"][id="one"]:checked ~ .green
	, input[type="radio"][id="one"]:checked ~ .two
	, input[type="radio"][id="one"]:checked ~ .three
	, input[type="radio"][id="one"]:checked ~ .four{
		width:0;
		height:0;
		padding:0;
		margin:0;
		opacity:0;
	}
	input[type="radio"][id="two"]:checked + label {
		background:#e2e2e2;
	}
	input[type="radio"][id="two"]:checked ~ .blue
	, input[type="radio"][id="two"]:checked ~ .red
	, input[type="radio"][id="two"]:checked ~ .green
	, input[type="radio"][id="two"]:checked ~ .one
	, input[type="radio"][id="two"]:checked ~ .three
	, input[type="radio"][id="two"]:checked ~ .four{
		width:0;
		height:0;
		padding:0;
		margin:0;
		opacity:0;
	}

	input[type="radio"][id="three"]:checked + label {
		background:#e2e2e2;
	}
	input[type="radio"][id="three"]:checked ~ .blue
	, input[type="radio"][id="three"]:checked ~ .red
	, input[type="radio"][id="three"]:checked ~ .green
	, input[type="radio"][id="three"]:checked ~ .one
	, input[type="radio"][id="three"]:checked ~ .two
	, input[type="radio"][id="three"]:checked ~ .four{
		width:0;
		height:0;
		padding:0;
		margin:0;
		opacity:0;
	}

	input[type="radio"][id="four"]:checked + label {
		background:#e2e2e2;
	}
	input[type="radio"][id="four"]:checked ~ .blue
	, input[type="radio"][id="four"]:checked ~ .red
	, input[type="radio"][id="four"]:checked ~ .green
	, input[type="radio"][id="four"]:checked ~ .one
	, input[type="radio"][id="four"]:checked ~ .two
	, input[type="radio"][id="four"]:checked ~ .three{
		width:0;
		height:0;
		padding:0;
		margin:0;
		opacity:0;
	}


	.tile {
	  width:23.8%;
	  height:50%;
	  float:left;
	  transition:all 1s;
	  margin:0.5%;
	  padding:0.5%;
	}

	/*e : nav-bar*/



	.a_color {
		background-color: #fff;
		/*타임라인 배경색*/
	}
	.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);

  z-index: 5;
}

.timeline li {
	padding: 1em 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
	  text-align: left; 
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  /*말풍선 색 */
  padding: 6px 10px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  /*가운데 동그라미 색*/
  border-radius: 10px;
  border: 4px solid #ed1c24;
  /*동그라미 테두리 색*/
  z-index: 10;
}

.direction-r .flag:before {
	position: absolute;
left: -39px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: #ed1c24;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  /*font-style: italic;*/
  line-height: 1.5em;
  color: gray;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 1000;
	text-align: center;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  	top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(53,102,41);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);

  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;

  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}


.awardss {font-weight: 900;
color: #3d3d3d;
/*background-color: #01bab0;*/
}

/*work섹션 안에 수상목록 색*/
